body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #63d965;
}

.App {
  text-align: center;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(55, 219, 224);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

h2 {
  color: rgb(0, 0, 0);
}

.App-logo {
  max-width: 100px; /* Adjust the maximum width as needed */
  max-height: 100px; /* Adjust the maximum height as needed */
  width: auto;
  height: auto;
}

.install-button {
  background-color: #1691d3;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.install-button:hover {
  background-color: #45a049;
}

p {
  color: rgb(0, 0, 0);
  margin: 15px 0;
}

.App-link {
  color: #61dafb;
}

strong {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
